html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Indie Flower', cursive;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container_inner {
    margin: 0 1em;
    text-align: center;
}

/*
* BOARD
*/

#deck {
    display: flex;
    padding: 2em;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    background: linear-gradient(160deg, #feac5e, #c779d0, #4bc0c8);
    list-style-type: none;
    border-radius: 10px;
}

.card {
    display: flex;
    flex: 0 0 22%;
    padding: 8% 0;
    margin: 2% 0;
    font-size: 33px;
    transform: rotateY(-180deg);
    justify-content: center;
    align-items: center;
    background: #447ca9;
    color: #fff;   
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s; 
}

.icon {
    visibility: hidden;
}

.card.open {
    transform: rotateY(0deg);
    background: #34acda;
    cursor: default;
    pointer-events: none;
}

.open .icon {
    visibility: visible;
}

.card.match {
    background: #4bc0c8;
    pointer-events: none;
}

.card.wrong-match {
    background: #b51f1f;
}

/*
* SCORE PANEL
*/

.game-panel {
    display: flex;
    flex-wrap: wrap;
    margin: 0 2em;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}

.score-panel {
    flex-grow: 2;
    text-align: left;
}

.score-panel p {
    display: inline-block;
    margin: 0;
}

.stars {
    display: inline-block;
    margin: 0 0.5em 0 0;
    padding: 0;
}

.stars li {
    display: inline-block;
    list-style-type: none;
}

.stars .disable {
    color: #d2cece;
}

.restart {
    flex-grow: 1;
    text-align: right;
    cursor: pointer;
}

/*
* WINNING MESSAGE
*/

#container.disable {
    display: none;
}

#winning-message.enable {
    display: block;
}

#winning-message {
    display: none;
    margin: 80px 10px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5em;
}

.icon_winning-message {
    font-size: 3em;
    color: #39d44d;
}

.btn {
    padding: 15px 20px;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    background: linear-gradient(160deg, #feac5e, #c779d0, #4bc0c8);
    border: 3px solid #fff;
}

.btn:hover {
    background: transparent;
    border: 3px solid transparent;
    border-image: linear-gradient(160deg, #feac5e, #c779d0, #4bc0c8);
    border-image-slice: 1;
    color: #000;
}