@media screen and (max-width: 500px) {
    #deck {
        padding: 1em;
    }

    .card {
        font-size: 20px;
    }

    .game-panel_btn {
        order: -1;
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    #winning-message {
        font-size: 1em;
    }
}

@media screen and (max-width: 280px) {
    .score-panel {
        text-align: center;
    }

    .game-panel_btn,
    .timer,
    .score-panel {
        flex-basis: 100%;
    }
}