@media screen and (max-width: 500px) {
    #deck {
        padding: 1em;
    }

    .card {
        font-size: 20px;
    }
}

@media screen and (max-width: 280px) {
    .score-panel,
    .restart {
        text-align: center;
    }
}